@font-face {
    font-family: MyriadPro-Bold;
    src: url(../../Fonts/MyriadPro-Bold.otf);
}
@font-face {
    font-family: MyriadPro;
    src: url(../../Fonts/MyriadPro.otf);
}

@font-face {
    font-family: UtmAlexander;
    src: url(../../Fonts/UTM\ Utm.ttf);
}

@font-face {
    font-family: UtmAndrogyne;
    src: url(../../Fonts/UTM\ Androgyne.ttf);
}

@font-face {
    font-family: UtmAptima;
    src: url(../../Fonts/UTM\ Aptima.ttf);
}

@font-face {
    font-family: UtmAptimaBold;
    src: url(../../Fonts/UTM\ AptimaBold.ttf);
}

@font-face {
    font-family: UtmAptimaItalic;
    src: url(../../Fonts/UTM\ AptimaItalic.ttf);
}
body {
    margin: 0 !important;
}
img {
    max-width: 100%;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'UtmAptima';
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* solution  */

.solution-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.solution-count {
    font-size: 216px;
    font-weight: bold;
    color: #557e30;
    text-shadow: 3px 4px #aad456, -6px 1px #103f1f;
    margin-right: 30px;
}
.solution-title .main-content {
    font-size: 39px;
    font-family: 'UtmAptimaBold';
    line-height: 80px;
}

#solution-section {
    padding: 50px 0px;
    background-image: url('../../images/bg-section1.png');
    background-size: cover;
}

.content-solution {
    display: flex;
    justify-content: center;
}

.list-solution li p {
    display: inline-block;
    font-size: 24px;
    font-family: 'UtmAptima';
    margin-left: 50px;
    width: 78%;
}

.list-solution li {
    position: relative;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
}

.item-solution-icon {
    position: relative;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background: #fff;
    font-size: 36px;
    font-family: 'UtmAlexander';
    font-weight: bold;
    display: inline-block;
    text-align: center;
    -webkit-box-shadow: -3px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -3px 4px 5px 0px rgba(0,0,0,0.75);
    z-index: 999;

}

.list-solution li::after {
    content: '';
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-left: 52px solid #337018;
    border-bottom: 40px solid transparent;
    position: absolute;
    top: 50%;
    left: 2.5%;
    transform: translateY(-50%);
}

.item-solution-icon b {
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    left: 19%;
}

.simple-card {
    padding: 1.5rem;
    box-shadow: var(--shadow);
}
.simple-card-image {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
}
.simple-card-image > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.simple-card-content {
    padding: 1rem 0rem;
}

.simple-card-desc {
    color: #000;
    font-weight: 300;
    line-height: 1.6;
    font-size: 24px;
    font-family: 'UtmAptima';
}
.simple-card a {
    text-decoration: none;
}

#list-content {
    background-image: url('../../images/bg-section3.png');
    background-size: cover;
}
.content-container {
    width: 65%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    /* padding-top: 50px;
    padding-bottom: 50px; */
}
.item-content {
    flex: 0 45%;
    margin: 10px;
    background-color: white;
    -webkit-box-shadow: 2px 0px 17px 9px rgba(227,227,227,0.56);
    -moz-box-shadow: 2px 0px 17px 9px rgba(227,227,227,0.56);
    box-shadow: 2px 0px 17px 9px rgba(227,227,227,0.56);
}

.about-benifit {
    text-align: center;
    padding: 66px 0px;
    background-color: #2b641a;
    color: #fff;
}

.desc-benifit {
    font-family: 'UtmAptima';
    font-size: 24px;
    line-height: 37px;
}
.main-title-benifit {
    font-family: 'UtmAptimaBold';
    font-size: 36px;
    margin-top: 32px;
}

.main-benifit-image {
    display: inline-block;
}
.main-benifit-content {
    display: inline-block;
    margin-left: 80px;
    margin-top: 50px;
}
.main-benifit {
    display: flex;
}
.benifit-content-title {
    font-size: 36px;
    font-family: 'UtmAptimaBold';
    color: #103f1f;
    position: relative;
    margin-bottom: 65px;
    line-height: 40px;
}

.benifit-content-title::after {
    content: "";
    position: absolute;
    width: 28%;
    height: 8px;
    background: #aad456;
    left: 3px;
    bottom: -20px;
}

.main-benifit-content ul li {
    margin-bottom: 12px;
    font-size: 24px;
    font-family: 'UtmAptima';
    list-style: initial;
    margin-left: 30px;
}

.main-benifit-content ul {
    width: 65%;
}

#course-info {
    background-image: url('../../images/bgsection5.png');
    text-align: center;
    background-size: cover;
}
.course-info__title {
    padding-top: 85px;
    font-size: 36px;
    font-family: 'UtmAptimaBold';
    position: relative;
    text-transform: uppercase;
    color: #103f1f;
}
.course-info__title::after {
    content: "";
    position: absolute;
    background-color: #d62329;
    left: 50%;
    transform: translateX(-50%);
    width: 8%;
    height: 8px;
    bottom: -20px;
}

.course-info__place {
    margin-top: 58px;
    display: flex;
    justify-content: center;
}

.place-item .city {
    margin: 0 auto;
    width: 36%;
    padding: 10px 42px;
    background: #fff;
    border-radius: 40px;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    font-size: 24px;
    font-family: "UtmAptimaBold";
    color: #103f1f;
}

.place-item .time {
    margin-top: 17px;
    font-size: 24px;
    font-family: "UtmAptimaBold";
    color: #103f1f;
} 

.place-item:first-child {
    margin-right: 65px;
}
.course-info__place .contact-item{
    margin-bottom: 45px;
}

.course-info__contact {
    margin: 50px 0px;
}
.contact-item {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.contact-item .item-left {
    width: 190px;
    text-align: center;
    margin-right: 20px;
}

.contact-item .item-left img {
    margin-right: 12px;
}
.contact-item .item-right {
    width: 350px;
}
.contact-item .item-left , .contact-item .item-right {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: center;
    border-radius: 40px;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    font-size: 24px;
    font-family: "UtmAptimaBold";
    color: #103f1f;
} 

.list-coupon {
    margin-top: 38px;
    margin-bottom: 50px;
    text-align: unset;
}

.list-content-container {
    text-align: left;
    display: flex;
    justify-content: center;
}
.list-coupon li {
    font-size: 24px;
    font-family: "UtmAptimaBold";
    color: #103f1f;
    padding: 10px;
}

.list-coupon {
    margin-top: 38px;
    margin-bottom: 50px;
    text-align: unset;
    padding: 10px 140px;
    border-radius: 82px;
    background: #ffff;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
}

.list-coupon li::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

#feedback {
    background-image: url('../../images/bgsection4.png');
    background-size: cover;
}

.feedback-title {
    font-size: 38px;
    font-family: "UtmAptimaBold";
    color: #fff;
    text-align: center;
    padding-top: 60px;
}
.line-after-content {
    position: relative;
}
.line-after-content::after {
    content: "";
    position: absolute;
    background-color: #aad456;
    left: 50%;
    transform: translateX(-50%);
    width: 10%;
    height: 8px;
    bottom: -20px;
}

.overlay-icon {
    position: relative;
    cursor: pointer;
  }
.overlay-icon i {
    width: 70px;
    color: white;
    font-size: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.slider-feedback {
    width: 60%;
    margin: 0 auto;
    margin-top: 120px;
}

.feedback-owl .owl-nav img{
    width: 15px;
}

.feedback-owl .owl-nav .owl-next, .feedback-owl .owl-nav .owl-prev {
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.feedback-owl .owl-nav .owl-next {
    right: -25px;
    display: flex;
    font-size: 25px !important;
}
.feedback-owl .owl-nav .owl-prev{
    left: -25px;
    display: flex;
    font-size: 25px !important;
}
.button-register {
    text-align: center;
}

.contact-form-submit {
    color: white;
    padding: 0.65rem;
    width: 100%;
    max-width: 35rem;
    border-radius: 1rem;
    border: 0;
    outline: none;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    white-space: nowrap;
    letter-spacing: 1px;
    background-color: #ed5156;
    box-shadow: 0 5px 5px 0 #ed5156;
    margin-top: 80px;
    margin-bottom: 50px;
    font-size: 36px;
    font-family: 'UtmAptimaBold';
}
.contact-form-area::-webkit-scrollbar {
    width: 5px;
}

.contact-form-area::-webkit-scrollbar-track {
    border-radius: 3rem;
    background-color: #eee;
}

.contact-form-area::-webkit-scrollbar-thumb {
    border-radius: 3rem;
    background-color: #7b78f8;
}

.register-title {
    font-size: 38px;
    font-family: "UtmAptimaBold";
    color: #103f1f;
    text-align: center;
    padding-top: 60px;
}

#form-register {
    background-image: url('../../images/bgsection7.png');
    background-size: cover;
}
.form-register__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-item .button-register {
    margin-top: 30px;
    margin-bottom: 30px;
}
.form-item {
    width: 17%;
    background: rgb(66,132,22);
    background: linear-gradient(172deg, rgba(66,132,22,1) 36%, rgba(22,68,20,1) 65%);
    padding: 25px;
    margin: 100px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 12px;
    text-align: center;
}

.form-item:first-child {
    margin-right: 90px;
}
    
.form-item h3 {
    display: block;
    font-size: 34px;
    font-weight: 300;
    margin-bottom: 10px;
    font-family: 'UtmAptimaBold';
    color: #fff;
    margin-bottom: 50px;
    position: relative;
}

.form-item h3::before {
    content: "\2022";
    color: #fff;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

.form-item h3::after {
    content: "\2022";
    color: #fff;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-right: -1em;
}

    
.form-item h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 24px;
    font-weight: 100;
    color: #fff;
    font-family: 'UtmAptima';
}
    
fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}
    
.form-item input[type="text"],
.form-item input[type="email"],
.form-item input[type="tel"],
.form-item input[type="url"],
.form-item textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 10px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
}
    
.form-item input[type="text"]:hover,
.form-item input[type="email"]:hover,
.form-item input[type="tel"]:hover,
.form-item input[type="url"]:hover,
.form-item textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}
    
.form-item textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}
    
.form-item button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #d81c29;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}
    
.form-item button[type="submit"]:hover {
    background: #d81c29;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}
    
.form-item button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}


/* responsive media */

/* mobile + tablet */
/* @media (max-width: 480px) {} */
@media (max-width: 768px) {
    .solution-count {
        font-size: 150px;
    }
    .solution-title .main-content {
        font-size: 28px;
        font-family: 'UtmAptimaBold';
        line-height: 50px;
    }
    .solution-title {
        margin-bottom: 50px;
    }
    #solution-section {
        padding-left: 10px;
        padding-right: 10px;
    }
    .main-content b {
        font-size: 32px !important;
    }

    .list-solution li::after {
        left: 6%;
    }
    .list-solution li p{
        line-height: 32px;
        margin-left: 40px;
    }
    .content-container {
        width: 98%;
    }
    .item-content {
        flex: 0 100%;
    }
    .simple-card-desc {
        font-size: 14px;
    }

    .main-title-benifit {
        line-height: 55px;
    }
    .main-benifit {
        display: block;
    }
    .main-benifit-content {
        display: inline-block;
        margin-left: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .main-benifit-content ul {
        width: 100%;
    }
    .main-benifit-content ul li {
        line-height: 32px;
    }
    .simple-card {
        padding: 1.5rem;
        -webkit-box-shadow: 2px 0px 17px 9px rgba(227,227,227,0.56);
        -moz-box-shadow: 2px 0px 17px 9px rgba(227,227,227,0.56);
        box-shadow: 2px 0px 17px 9px rgba(227,227,227,0.56);
    }

    .course-info__title {
        padding-top: 60px;
    }
    .course-info__title::after {
        content: "";
        position: absolute;
        background-color: #d62329;
        left: 50%;
        transform: translateX(-50%);
        width: 30%;
        height: 8px;
        bottom: -24px;
    }

    .course-info__place {
        display: block;
    }

    .place-item:first-child {
        margin-right: 0px;
    }

    .place-item {
        margin-top: 20px;
    }

    .contact-item .item-left, .contact-item .item-right {
        font-size: 15px;
    }
    .course-info__contact {
        margin: 50px 10px;
    }
    .list-coupon {
        padding: 10px 25px;
        border-radius: 30px;
    }
    .feedback-title {
        font-size: 34px;
        padding: 50px 5px;
        padding-bottom: 0px;
    }
    .line-after-content::after {
        content: "";
        position: absolute;
        background-color: #aad456;
        left: 50%;
        transform: translateX(-50%);
        width: 25%;
        height: 8px;
        bottom: -28px;
    }

    .form-register__container {
        display: block;
        margin-top: 50px;
    }

    .form-item {
        margin: 20px !important;
        width: auto;
    }

    .slider-feedback {
        width: 90%;
        margin: 0 auto;
        margin-top: 60px;
    }
    .contact-form-submit {
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .button-register {
        padding: 0 20px;
    }

    .course-info__coupon {
        padding: 10px;
    }
}

/* small screen */

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .content-solution {
        padding: 20px;
        padding-top: 50px;
    }

    .content-container {
        width: 96%;
    }
    .item-content {
        -webkit-box-shadow: 2px 0px 17px 9px rgba(227,227,227,0.56);
        -moz-box-shadow: 2px 0px 17px 9px rgba(227,227,227,0.56);
        box-shadow: 2px 0px 17px 9px rgba(227,227,227,0.56);
    }
    .main-benifit {
        display: block;
    }
    .main-benifit-image {
        display: block;
    }
    .main-benifit-image img{
        width: 100%;
    }

    .main-benifit {
        margin-bottom: 50px;
    }

    .main-benifit-content ul {
        width: 100%;
    }

    .main-benifit-content ul li {
        margin-bottom: 25px;
        line-height: 40px;
    }

    .slider-feedback {
        width: 90%;
        margin-top: 80px;
    }

    .form-item {
        width: 30%;
    }
    
}

fieldset {
    padding-bottom: 15px !important;
}

/* Desktops, large screens */
/* @media screen and (min-width: 1025px) and (min-width: 1200px) {
    .text {
      font-size: 16px;
    }
} */

/* @media (min-width: 1201px) {

} */